$font-stack: "Roboto", "Arial", sans-serif;
$black: #000000;
$blue-font: #00203a;
$blue: rgba(26,157,217,.6);
$white: #ffffff;
$pink: #d50a51;
$tablet: 660px;
$desktop: 990px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
